.container {
  background-color: rgb(244, 245, 220);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px; 
}

.circle, .square, .ellipse, .rectangle {
  fill: currentColor;
  width: 150px;
  height: 150px;
  transition: transform 0.5s ease, fill 0.5s ease;
}

.circle {
  stroke-width: 3px;
  stroke: black;
  fill: rgb(243, 23, 23);
}

.circle:hover {
  transform: scale(1.4);
  fill: rgb(255, 100, 100);
}

.square {
  stroke-width: 7px;
  stroke: yellow;
  fill: rgb(29, 199, 29);
  transform-origin: center;
}

.square:hover {
  transform: scale(1.3) rotate(45deg);
  fill: rgb(100, 255, 100);
  animation: rotate-square 5s infinite linear;
}

@keyframes rotate-square {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ellipse {
  stroke-width: 2px;
  stroke: greenyellow;
  fill: rgb(36, 36, 229);
}

.ellipse:hover {
  transform: translateY(-20px);
  fill: rgb(100, 100, 255);
}

.rectangle {
  stroke-width: 5px;
  stroke: lightskyblue;
  fill: rgb(239, 239, 52);
}

.rectangle:hover {
  transform: translateX(20px);
  fill: rgb(255, 255, 100);
}
